<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>Contact Form</title>
</head>
<body> 
  <div class="container">
    <form action="/submit-data" method="post">
      <input type="text" name="name" id="name" placeholder="Enter name" required>
      <input type="email" name="email" id="email" placeholder="Enter Email" required>
      <input type="number" name="phone" id="phone" placeholder="Enter Phone" required>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>